BasedOnStyle: GNU
Language: Cpp

# Line length / indentation
ColumnLimit: 80
ContinuationIndentWidth: 2

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true   
  AfterStruct: true  
  AfterUnion: true   
  AfterEnum: true    
  AfterNamespace: true
  AfterCaseLabel: true
  AfterFunction: true
  AfterControlStatement: Always
  BeforeElse: true
  BeforeCatch: true

# Short constructs
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline

# Function declarations / definitions
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: None
BreakFunctionDefinitionParameters: true
BinPackParameters: false
BinPackArguments: false

# Alignment
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  PadOperators: true

AlignConsecutiveShortCaseStatements:
  Enabled:         true
  AcrossEmptyLines: true
  AcrossComments:  true
  AlignCaseArrows: true
  AlignCaseColons: true

# Align trailing comments
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

# Constructors
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PackConstructorInitializers: Never

# case
IndentCaseLabels: false
IndentCaseBlocks: false

# Includes
SortIncludes: true
IncludeBlocks: Preserve

# Comment formatting
ReflowComments: true
CommentPragmas: '^ IWYU pragma:'

# Ensures this style:
# /*
#  * text
#  * text
#  */
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1

# Spacing
PointerAlignment: Right
ReferenceAlignment: Pointer
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true

# Misc
FixNamespaceComments: true
